<!--
asap_primary_MLP.launch

Keenan Albee and Charles Oestreich, 2021
MIT Space Systems Laboratory
-->


<launch>
    <!-- Additional options -->
    <arg name="spurn" default=""/>                 <!-- Prevent a specific node   -->
    <arg name="nodes" default=""/>                 <!-- Launch specific nodes     -->
    <arg name="extra" default=""/>                 <!-- Inject an additional node -->
    <arg name="debug" default=""/>                 <!-- Debug a node set          -->
    <arg name="output" default="screen"/>          <!-- Where nodes should log    -->
    <arg name="ns" default="" />                   <!-- Robot namespace           -->
    <arg name="ground" default="false" />          <!-- Is this a ground test? (optional use) -->
    <arg name="sim" default="false" />             <!-- Is this a sim test? (optional use)    -->

    <!-- Debug options-->
    <?comment launch-prefix="x-terminal-emulator -e gdb -ex run --args" ?>
    <?comment launch-prefix="gdb -ex run --args" ?>
    <?comment launch-prefix="valgrind --leak-check=full" ?>

    <!-- Load params for primary -->
    <rosparam command="load" file="$(find execute_asap)/config/primary_coord_params.yaml"/>

    <node pkg="nodelet" type="nodelet" name="primary_coordinator"
        required="false" respawn="false"
        args="standalone PrimaryNodelet"
        output="$(arg output)"/>

    <!-- Sample node -->
    <node pkg="my_node" type="my_node.py" name="my_node"
        required="false" respawn="false"
        output="$(arg output)"/>
</launch>

