Source: astrobee
Priority: optional
Maintainer: Astrobee Flight Software <astrobee-fsw@nx.arc.nasa.gov>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Section: libs
Homepage: http://github.com/nasa/astrobee
#Vcs-Git: git://anonscm.debian.org/collab-maint/astrobee.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/astrobee.git

Package: astrobee-astrosee
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: AstroSee Software for ISS deployment